@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
html {
  scroll-behavior: smooth;
}

:root {
  --text-navbar: #632626;
  --font-navbar-logo: 'PT Serif', serif;
  --font-hero-about: 'Glory', sans-serif;
  --font-body: 'Glory', sans-serif;
}

body {
  width: 100%;
  font-family: var(--font-body);
}

.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url('/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 80px);
}

.hero-about {
  font-family: var(--font-hero-about);
  animation: show-text 1s cubic-bezier(0, 0, 0.2, 1) forwards;
}

@keyframes show-text {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  color: var(--text-navbar);
  border-top: 1px solid var(--text-navbar);
  border-bottom: 2px solid var(--text-navbar);
  &-logo {
    font-family: var(--font-navbar-logo);
  }
}
