@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: 'Glory', sans-serif;
}

.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url('/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 80px);
}

.hero-about {
  font-family: 'Glory', sans-serif;
}

.navbar {
  color: #632626;
  border-bottom: 2px solid #632626;
  &-logo {
    font-family: 'PT Serif', serif;
  }
}
